<!-- 
<pre>
    {{movies | json}}
</pre> -->
<!-- <pre>
    {{genres |json}}
</pre> -->
<header class="bg-dark py-5">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">MovieHub</h1>
          <p class="lead fw-normal text-white-50 mb-0">movie area....</p>
      </div>
  </div>
</header>

<div class="container p-4">

    <div class="d-flex justify-content-around">
    
      <div *ngFor="let g of genres">
    
        <button class="btn btn-outline-info" (click)="getMoviesByGeners(g)">{{g}}</button>
    
      </div>
    </div>
    </div>

    <!-- st bs -->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5" *ngFor="let m of movies">
              <div class="card h-100">
                  <!-- Product image-->
                  <img class="card-img-top" src="http://127.0.0.1:8000/{{m.poster_image}}" height="300px" alt="..." />
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">{{m.name}}</h5>

                          <p class="card-text">{{m.description}}</p>
                          
                         
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#" [routerLink]="['/moviedetail',m.id]">ViewMore</a></div>
                  </div>
              </div>
          </div>
         
      </div>
  </div>
</section>

<!-- end st bs -->

<!-- <div class="container">
    <div class="row">
        <div class="col-4" *ngFor="let m of movies">
            <div class="card" style="width: 18rem;">
          <div *ngIf="m.poster_image">
            <img src="http://127.0.1:8000/{{m.poster_image}}" class="card-img-top" alt="..." height="300px">
          </div>
                <div class="card-body">
                  <h5 class="card-title">{{m.name}}</h5>
                  <p class="card-text">{{m.description}}</p>
                  <a href="#" class="btn btn-primary" [routerLink]="['/moviedetail',m.id]">viewmore</a>
                </div>
              </div>
        </div>
        <div class="col-4"></div>
        <div class="col-4"></div>
    </div>
</div> -->